<header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
        <!-- links -->
        {% for link in site.data.header-left %} {% if link.divide %}
        <li>
            <span class="d-none d-md-block nav-link disabled">|</span>
        </li>
        {% else %}
        <li class="nav-item {% if page.url == link.uri %}active{% endif %}">
            <a class="nav-link" href="{{ link.uri }}">{{ link.name | escape }}
                <span class="sr-only">(current)</span>
            </a>
        </li>
        {% endif %} {% endfor %}
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{{ " / " | relative_url }}">
            <span class="curly">{ </span>
            {{ site.title | escape }}
            <span class="curly"> }</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <!-- links -->
            {% for link in site.data.header-right %} {% if link.divide %}
            <li>
                <span class="d-none d-md-block nav-link disabled">|</span>
            </li>
            {% else %}
            <li class="nav-item {% if page.url == link.uri %}active{% endif %}">
                <a class="nav-link" href="{{ link.uri }}">{{ link.name | escape }}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% endif %} {% endfor %}
            </ul>
        </ul>
    </div>
</nav>
</header>