<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
        <!-- links -->
        {% include header_link.html name="Suites" uri="/problems/" %}
        {% include header_link.html name="Benchmarks" uri="/benchmarks/" %}
        {% include header_link.html name="Source Code" uri="https://github.com/dblotsky/stringfuzz" %}
        {% include header_link.html name="People" uri="/people/" %}
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/">
            <span class="curly">{ </span>
            {{ site.title | escape }}
            <span class="curly"> }</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <!-- links -->
            {% include header_link.html name="Language Reference" uri="https://zyh1121.github.io/z3str3Docs/inputLanguage.html" %}
            {% include header_link.html name="Language Support" uri="/syntax/" %}

            <li><span class="d-none d-md-block nav-link disabled">|</span></li>

            {% include header_link.html name="Z3str3" uri="https://sites.google.com/site/z3strsolver/" %}
        </ul>
    </div>
</nav>
</header>