<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <!-- title -->
        <a class="navbar-brand" href="{{ "/" | relative_url }}">
            {{ site.title | escape }}
        </a>

        <!-- button for toggling navigation on small screens -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

                <!-- curly brace -->
                <li class="nav-item">
                    <span class="d-none d-md-block curly nav-link disabled">}</span>
                    &nbsp;
                    &nbsp;
                </li>

                <!-- links -->
                {% include header_link.html name="Suites" uri="/problems/" %}
                {% include header_link.html name="Documentation" uri="https://github.com/dblotsky/stringfuzz/blob/master/README.md" %}
                {% include header_link.html name="Releases" uri="https://github.com/dblotsky/stringfuzz/releases" %}
                {% include header_link.html name="Source Code" uri="https://github.com/dblotsky/stringfuzz" %}

                <li><span class="d-none d-md-block nav-link disabled">|</span></li>

                {% include header_link.html name="Experiments" uri="/results/" %}
                {% include header_link.html name="Benchmarks" uri="/benchmarks/" %}
                {% include header_link.html name="People" uri="/people/" %}

                <li><span class="d-none d-md-block nav-link disabled">|</span></li>

                {% include header_link.html name="Language Reference" uri="https://zyh1121.github.io/z3str3Docs/inputLanguage.html" %}
                {% include header_link.html name="Language Support" uri="/syntax/" %}

                <li><span class="d-none d-md-block nav-link disabled">|</span></li>

                {% include header_link.html name="Z3str3" uri="https://sites.google.com/site/z3strsolver/" %}
            </ul>
        </div>
    </nav>
</header>
