# directories
.sass-cache
.jekyll-metadata
vendor
problems
_build
site/static/txt/samples
site/static/results
site/static/csv/benchmarks
site/static/svg/plots

# files
site/_data/problems.yml

# extensions
*.zip
*.pdf
