body {
    padding-top: 56px;
}

.curly {
    font-size: 1em;
    padding: 0px;
    color: darkgray;
    font-weight: bold;
}

.results-table {
    padding-top: 1em;
}

.prev-next {
    padding-bottom: 1em;
}

.instructions {
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    text-transform: uppercase;
}

footer {
    margin-top: 1%;
    width: 100%;
    text-align: center;
}

.highlight {
    border-radius: 7px;
}

pre.highlight {
    padding: 1em;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
}
